<div class="row">
    {{#each products}}
        <div class="col-md-3 mt-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title justify-content-between align-items-center">
                      {{titulo}}
                      </h5>
                    <h3>{{precio}} €</h3>
                        <td>
                            <a href="/producto/edit/{{_id}}" class="btn btn-success btn-block ">EDITAR</a>
                          <form action="/producto/delete/{{_id}}?_method=delete" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-danger btn-block mt-1">ELIMINAR</button>
                          </form>
                        </td>                    
                </div>
            </div>
        </div>
    {{/each}}
<div class="container">
          <div class="container text-center">
             <a href="/producto/add" class="btn btn-primary mt-5">CREAR PRODUCTO</a>
             <a href="/users" class="btn btn-secondary mt-5">VER USUARIOS</a>
            </div>

        <table class="table table-bordered table-center text-center mt-4">
          <thead>
            <tr class="bg-primary text-white">
                <th scope="col">TITULO</th>
                <th scope="col">PRECIO</th>
            </tr> 
          </thead>
          
          <tbody class="border border-dark bg-secondary text-black">
            <!--Poner un foreach para que recorra el contenido, leemos la BD creada-->
           {{#each products}}
              <tr>
                <td>{{titulo}}</td>
                <td>{{precio}} €</td>
              </tr>
            {{/each}}
          </tbody>
          
        </table>
       
      </div>