<div class="row">
    {{#each users}}
        <div class="col-md-3 mt-3">
            <div class="card">
                <div class="card-body text-center">
                    <img src="/img/logo1.png" class="rounded-circle mx-auto d-block m-3 logo" alt="">
                    <h5> {{name}} </h5>
                    <h5> {{email}} </h5>
                    <h3> {{rol}} </h3>
                <td>
                     <a href="/users/edit/{{_id}}" class="btn btn-outline-dark btn-block"> ACTUALIZAR</a>
                     <form action="/users/delete/{{_id}}?_method=delete" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button type="submit" class="btn btn-outline-warning btn-block mt-1">ELIMINAR</button>
                      </form></td>
                </div>
            </div>
        </div>
    {{/each}}
    
    <div class="container text-center">
        <a href="/productos" class="btn btn-secondary mt-5">VER LOS PRODUCTOS</a>
    </div>